html.dark {
  background-color: rgb(15, 23, 42);
}
/* .q_present-hc{
  background: linear-gradient(210deg, #334155  50%,#facc15 51%);
}
.q_present-dark{
  background: linear-gradient(210deg, #334155  50%,#facc15 51%);
}
.q_present{
  background: linear-gradient(210deg, #334155  50%,#facc15 51%);
}
.q_correct-hc{
  background: linear-gradient(210deg, #334155  50%,#4ade80 51%);
}
.q_correct-dark{
  background: linear-gradient(210deg, #334155  50%,#4ade80 51%);
}
.q_correct{
  background: linear-gradient(210deg, #334155  50%,#4ade80 51%);
} */

.q_present-hc {
  background-image: linear-gradient(135deg, #334155 50%, #facc15 50%);
  background-size: 54px 52px;
}
.q_present-dark {
  background-image: linear-gradient(135deg, #334155 50%, #facc15 50%);
  background-size: 54px 52px;
}
.q_present {
  background-image: linear-gradient(135deg, #334155 50%, #facc15 50%);
  background-size: 54px 52px;
}
.q_correct-hc {
  background-image: linear-gradient(135deg, #334155 50%, #4ade80 50%);
  background-size: 54px 52px;
}
.q_correct-dark {
  background-image: linear-gradient(135deg, #334155 50%, #4ade80 50%);
  background-size: 54px 52px;
}
.q_correct {
  background-image: linear-gradient(135deg, #334155 50%, #4ade80 50%);
  background-size: 54px 52px;
}
